.axis path,
.axis line {
    fill: none;
    stroke: #4bb1b9;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
    display: none;
}

.labels {
    font-family: sans-serif;
    font-size: 14px;
    fill: #225458;
}

